<!doctype html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
    <div class="formresult-div">
        <h1>Form result</h1>

        <div class="card shadow border padding">
            <h3>You have written in:</h3>
            <p><b>first name:</b> {{firstname}}</p>
            <p><b>last name:</b> {{lastname}}</p>
            <p><b>Date of birth:</b> {{birthday}}</p>
            <p><b>gender:</b> {{gender}}</p>
            <p><b>University programme:</b> {{programme}}</p>
            <p><b>About you:</b></p>
            <br>
            <p>{{about-you}}</p>
            <br>
            <a href="/userform" class="btn btn-primary baseline-btn">back</a>
            </div>
    </div>
</body>